@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap");

body {
  font-family: "inter";
  margin: 0;
  padding: 0;
}

.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-inline: 10px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.secondaryContainer {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.sideBar {
  height: 100%;
  width: 200px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #e9e9e9;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.logo {
  font-size: 60px;
  color: #2c2c2c;
}

.refresh-button {
  text-decoration: none;
  color: white;
  background-color: #2c2c2c;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 3px #dddddd;
  -moz-box-shadow: 0 0 10px 3px #dddddd;
  box-shadow: 0 0 10px 3px #dddddd;
}

.menuItem {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding-inline: 10px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.active {
  background-color: rgb(233, 233, 233);
  border: 1px solid #cacaca;
}

.menuItem:hover {
  background-color: #dddddd;
}

.menuIcons {
  font-size: 25px;
}

.menuItem > h3 {
  font-size: 16px;
  font-weight: 400;
}

.storageStats {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.storageStats > p {
  margin-bottom: 15px;
  padding: 0;
  line-height: 0;
  font-size: 12px;
}

progress {
  /* style rules */
  width: 100%;
  height: 7px;
  border-radius: 3px;
}
progress::-webkit-progress-bar {
  /* style rules */
  background-color: #e9e9e9;
  border-radius: 3px;
}
progress::-webkit-progress-value {
  /* style rules */
  background-color: #2c2c2c;
  border-radius: 3px;
}
progress::-moz-progress-bar {
  /* style rules */
  border-radius: 3px;
}

.secondarySideDiv {
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 10px;
}

.logout-button {
  text-decoration: none;
  color: white;
  background-color: #2c2c2c;
  height: 40px;
  width: 100%;
  gap: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 3px #dddddd;
  -moz-box-shadow: 0 0 10px 3px #dddddd;
  box-shadow: 0 0 10px 3px #dddddd;
}

.textContainer {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e9e9e9;
}

.textContainer > h2 {
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
}

.username {
  font-weight: 700;
}

.navbar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.formContainer {
  height: 500px;
  width: 400px;
}

.Form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.formItem {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block-end: 10px;
  gap: 10px;
}

.formItem > input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  padding-inline: 10px;
  font-family: "inter";
}

.formItem > label {
  color: #2c2c2c;
}

.formItem > input:focus {
  outline: none;
}

/* Hidden default file input */
input[type="file"] {
  display: none;
}

/* Custom styled button */
.custom-file-input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    padding-inline: 10px;
    font-family: "inter";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    color:white;
    font-size: 12px;
}

/* Style for the file name display */
.file-name {
  margin-top: 10px;
  font-style: italic;
}

/* Style for the image preview */
#imagePreview {
  width: 100%;
  max-height: 200px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  display: none;
}


.bottomDiv{
    width: 100%;
}

.bottomDiv>button{
    width: 100%;
    height: 40px;
    background-color: #2c2c2c;
    color:#ffffff;
    font-size: 16px;
    font-family: 'inter';
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.bottomDiv>button>ion-icon{
    font-size: 20px;
    color: white;
}

.bottomDiv>button:hover{
    background-color: #151515;
}

.bottomDiv>button:active{
    scale: 0.9;
}

.bottomDiv>h5{
    text-align: center;
}