<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width, initial-scale=1.0" />
    <title>DirectDrive</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <!-- <section class="mainContainer">
        <header class="header">
            <h2 class="logo">Direct Drive</h2>
            <a href="{{url_for('refresh')}}" >
            <button class="refresh-button">
                <span class="material-symbols-rounded">
                    refresh
                </span>
                <h3 class="button-text">Refresh</h3>
            </button>
        </a>
        <a href="{{url_for('logout')}}">Log Out</a>
        </header>
        <h2 class="sectionTitle">Files</h2>
        <div class="filesContainer">
            {% for item in data %}
            <div class="fileItem">
                <img class="preview-image" src="{{item.image}}" />
                <h3 class="file-name">{{item.name}}</h3>
                <a href="{{url_for('delete', fileName=item.name)}}">Delete</a>
            </div>
            {% endfor %}
            
        </div>
    </section> -->

    <div class="mainContainer">
      <div class="header">
        <div class="logoContainer">
          <ion-icon name="cloudy" class="logo"></ion-icon>
          <h2>Direct Drive</h2>
        </div>
        <a href="{{url_for('refresh')}}" class="refresh-button">
          <ion-icon name="refresh"></ion-icon
        ></a>
      </div>
      <div class="secondaryContainer">
        <div class="sideBar">
          <div class="menuItem">
            <ion-icon name="home" class="menuIcons"></ion-icon>
            <h3>Home</h3>
          </div>
          <div class="secondarySideDiv">
            <a href="{{url_for('logout')}}" class="logout-button">
              Logout<ion-icon name="log-out"></ion-icon
            ></a>
            <div class="storageStats">
              <p>{{usedStorage}} / 15 GB Used</p>
              <progress value="{{usageValue}}" id="storageProgress"></progress>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="textContainer">
            <h2>All Files</h2>
            <p>Logged in as: <span class="username">{{user}}</span></p>
          </div>
          <div class="fileContainer">
            {% for item in data %}
            <div class="fileItem">
              <img
                class="fileImage"
                src="{{item.image}}"
                alt="img"
              />
              <div class="fileItemBottomContainer">
                <p class="fileName">{{item.name}}</p>
                <a href="{{url_for('delete', fileName=item.name)}}" class="delete-button">
                  <ion-icon name="trash"></ion-icon>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
