<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Hello world</h2>
        <h3>This is my cdn site Thank you for visiting</h3>
        <h3>This site is for internal usage only</h3>
        <h2>Vasantharaja</h2>
        {% for item in data %}
                <div>{{item.name}}</div><br>
                <img src="{{ item.image }}" alt="" height="100" width="200"/>
        {% endfor %}
        
    </div>
</body>
</html>
